@model IEnumerable<TodoApp.Models.Tasks>

@{
    ViewBag.Title = "title";
    //Layout = "_Layout";
}
<head>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    @*<script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>  <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>*@
</head>
<h2>Tasks</h2>
@Html.ActionLink("Add New","New","Task",new {@class="btn btn-primary"})
<table class="table table-bordered table-hover">
    <tr>
        <th>Id</th>
        <th>Task Name</th> 
        <th>Task Description</th>
        <th>Action</th>
        <td></td>
    </tr>
        @foreach (var t in Model)
        {
    <tr>
        <td>@t.Id</td>
        <td>@Html.ActionLink(t.TaskName, "Update", "Task", new { id = t.Id }, null)</td>
        <td>@t.Description</td>
        <td>@Html.ActionLink("Edit", "Update", "Task",new {id=t.Id},null)</td>
        <td>@Html.ActionLink("Delete", "Remove", "Task",new {id=t.Id},null)</td>
    </tr>
        }
</table>


