@model TodoApp.Models.Tasks

@{
    ViewBag.Title = "title";
    //Layout = "Index.cshtml";
}

<h2>Update</h2>

@using (Html.BeginForm("Save", "Task"))
{
    @Html.HiddenFor(i=>i.Id)
    @Html.LabelFor(i=>i.TaskName)
    @Html.TextBoxFor(i=>i.TaskName)

    @Html.LabelFor(i=>i.Description)
    @Html.TextBoxFor(i=>i.Description)

    <button class="btn btn-primary">Update</button>
}
